.header__logo {
  margin: 0;
  padding: 0 0 41px 0;
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width:550px) {
  .header__logo {
    padding: 0 0 31.6px 0;
    max-width: 103.74px;
    max-height: 24.4px;
  }
}