.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 40px 0 51px 0;
}

@media screen and (max-width:1024px) {
  .profile {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    padding: 42px 0 36px 0;
  }
}