.profile__avatar {
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__avatar:hover {
  opacity: 0.2;
}