.profile__avatar-set {
    background-image: url(../../../images/Vector.png);
    background-color: #000;
    border-radius: 100%;
    height: 120px;
    background-position: 50%;
    background-repeat: no-repeat;
}