/*normalize*/
@import url(./vendor/normalize.css);
/*fonts*/
@import url(./vendor/fonts/inter.css);
/*app*/
@import url(./blocks/app/app.css);
/*header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/*content*/
@import url(./blocks/content/content.css);
/*profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar-set.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__group/profile__group.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__button/_add/profile__button_add_change.css);
@import url(./blocks/profile/__button/_add/profile__button_add_card.css);
@import url(./blocks/profile/__vector/profile__vector.css);

/*elements*/
@import url(./blocks/elements/elements.css);
/*element*/
@import url(./blocks/element/element.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__show-img/element__show-img.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__card/element__card.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
/*popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_addplace/popup_addplace_open.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/_button/popup_button_active.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/_img/popup_img_open.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_img/popup__container_img.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__name-img/popup__name-img.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_place/popup__title_place.css);
@import url(./blocks/popup/__inputs/popup__inputs.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_opened/popup_opened_place.css);